* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}
:root {
  --primary: #a16e6e;
  --white: #ffffff;
  font-size: 62.5%;
}

/* utility classes */
body {
  font-size: 2rem;
  color: #333;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  justify-content: center;
}
#wrapper {
  height: 100vh;
  background-color: var(--primary);
  width: 80%;
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  border-radius: 2rem;
}
#container {
  background-color: #fdeae5;
  width: 80%;
  border-radius: 2rem;
  padding: 2rem 3rem;
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  box-shadow: 2px 2px 10px #333;
}
#finalScore{
  text-align: center;
}
#highScoresList {
  padding-left: 0;
  margin-bottom: 4rem;
}
.btn {
  margin: 0 auto;
  color: #333;
  padding: 1rem;
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 2px 2px 10px #333;
}
.btn:hover {
  color: var(--primary);
  cursor: pointer;
  transform: translate(2px, 2px);
}

.high-score {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}
.high-score:hover {
  transform: scale(1.025);
}
@media (max-width: 810px) {
  #wrapper {
    flex-direction: column-reverse;
    width: 90%;
  }
  #container {
    height: 90vh;
    width: 90%;
    margin: 1rem auto;
  }
  aside {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  #wrapper {
    width: 95%;
  }
}
