* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}
:root {
  --primary: #a16e6e;
  --secondary: #fdeae5;
  font-size: 62.5%;
}
body {
  font-size: 2rem;
  color: #333;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}
#wrapper {
  max-width: 1080px;
  min-height: 100vh;
  background-color: var(--primary);
  width: 80%;
  display: flex;
  margin: 0 auto;
  border-radius: 2rem;
}
#mini-span{
  display: none;
}
#container {
  background-color: #fdeae5;
  width: 60%;
  border-radius: 2rem;
  padding: 2rem 3rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  font-size: 2.8rem;
  align-items: center;
  gap: 1rem;
}
#question {
  margin-top: 6rem;
  text-align: center;
}

#hud {
  display: flex;
  gap: 10%;
}

.hud-prefix {
  font-size: 1.7rem;
}

.hud-main-text {
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
  margin-top: .5rem;
}

#progressBar {
  width: 15rem;
  height: 3rem;
  border: 0.3rem solid var(--primary);
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 2.5rem;
  background-color: var(--primary);
}

#arrow {
  margin-top: 7rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
#arrow:hover {
  color: var(--primary);
  cursor: pointer;
}
#arrow[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  color: #bab8b7;
}

aside {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 35%;
}
span {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: end;
}
a {
  cursor: pointer;
  color: #333;
  background-color: var(--secondary);
  padding: 0.75rem;
  border-radius: 1rem;
  width: 8rem;
  white-space: nowrap;
  text-align: center;
}
#profile {
  width: auto;
  padding: 0;
  margin-top: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
}
#profile img {
  width: 35px;
  border-radius: 50%;
}

aside a:hover {
  background-color: white;
  color: var(--primary);
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  margin-left: 5rem;
  gap: 3rem;
}
#options button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
  background-color: var(--secondary);
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  cursor: pointer;
  font-size: 1.7rem;
}

#options button:hover {
  background-color: white;
  color: var(--primary);
}
#options button[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
  color: #bab8b7;
  background-color: var(--secondary);
}
.correct {
  background-color: #28a745;
}
.incorrect {
  background-color: #dc3545;
}

@media (max-width: 810px) {
  #wrapper {
    flex-direction: column;
  }
  #mini-span{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: end;
    padding: 1rem 3rem 0;
  }
  #container {
    width: 90%;
    margin: 1rem auto;
  }
  header{
    margin-bottom: 2rem;
  }
  aside {
    width: 90%;
    padding: 1rem 0;
  }
  aside span {
    display: none;
  }
  #options button {
    margin: 0 auto;
    width: 80%;
  }
}
