* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}
:root {
  --primary: #a16e6e;
  --white: #ffffff;
  font-size: 62.5%;
}

/* utility classes */
body {
  font-size: 2rem;
  color: #333;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}
#wrapper {
  height: 100vh;
  background-color: var(--primary);
  width: 80%;
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  border-radius: 2rem;
}
#container {
  background-color: #fdeae5;
  width: 80%;
  border-radius: 2rem;
  padding: 2rem 3rem;
  margin: auto;
  height: 80%;
  box-shadow: 2px 2px 10px #333;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 90%;
  margin: 0 auto;
  font-size: 2.5rem;
  align-items: center;
  gap: 5rem;
}
main div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.btn {
  margin: 1rem;
  color: #333;
  padding: 1rem;
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 20rem;
  text-align: center;
  box-shadow: 2px 2px 10px #333;
}
.btn:hover {
  color: var(--primary);
  cursor: pointer;
  transform: translate(2px, 2px);
}
#saveBtn {
  margin: 1rem;
  color: #333;
  padding: 1rem;
  font-size: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 20rem;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 10px #333;
}
#saveBtn:hover {
  color: var(--primary);
  cursor: pointer;
  transform: translate(2px, 2px);
}
@media (max-width: 810px) {
  #wrapper {
    width: 90%;
  }
  main {
    font-size: 1.9rem;
  }
}

@media (max-width: 500px) {
  #wrapper {
    width: 95%;
  }
  #container {
    width: 90%;
    height: 90%;
  }
  main {
    font-size: 1.5rem;
  }
}
