* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
a {
  text-decoration: none;
  list-style: none;
}
:root {
  --primary: #a16e6e;
  --secondary: #fdeae5;
  font-size: 62.5%;
}

/* utility classes */
body {
  font-size: 2rem;
  color: #333;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}
#wrapper {
  height: 100vh;
  background-color: var(--primary);
  width: 80%;
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  border-radius: 2rem;
}
#container {
  background-color: var(--secondary);
  width: 60%;
  border-radius: 2rem;
  padding: 2rem 3rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 90%;
  margin: 0rem auto;
  font-size: 3rem;
  align-items: center;
  gap: 1rem;
}
#login h2 {
  text-align: center;
}
#login p {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem 0.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  padding: 1.3rem;
  margin: 0.5rem auto;
  border: var(--primary) 1px solid;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 85%;
}
.submit {
  padding: 1.3rem;
  width: 25%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid var(--primary);
  color: #333;
  cursor: pointer;
  border-radius: 0.75rem;
}
.submit[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}
aside div {
  margin-left: auto;
}
.btn {
  color: #333;
  margin: .5rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fdeae5;
  box-shadow: 2px 2px 10px #333;
}
.btn:hover {
  color: var(--primary);
  cursor: pointer;
}

@media (max-width: 810px) {
  #wrapper {
    flex-direction: column-reverse;
  }
  #container {
    height: 80vh;
    width: 90%;
    margin: 1rem auto;
  }
  aside {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .btn{
    padding: .5rem;
  }
}